@model CameraDataWebApp.Controllers.Observation

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Observation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="observation" class="control-label"></label>
                <input asp-for="observation" class="form-control" />
                <span asp-validation-for="observation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="imageuri" class="control-label"></label>
                <input asp-for="imageuri" class="form-control" />
                <span asp-validation-for="imageuri" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="observationguid" class="control-label"></label>
                <input asp-for="observationguid" class="form-control" />
                <span asp-validation-for="observationguid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="visitguid" class="control-label"></label>
                <input asp-for="visitguid" class="form-control" />
                <span asp-validation-for="visitguid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
